.aboutMe {
  border: 1px solid red;
  background-color: #202020;
  margin: 0;
  padding: 110px 70px;
}

.aboutMe__title {
  border-bottom: 1px solid #dadada;
  margin: 0;
  padding-bottom: 23px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

.aboutMe__wrap {
  margin: 66px 0 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.aboutMe__info {
  max-width: 600px;
  color: #fff;
  margin-right: 50px;
}

.aboutMe__name {
  font-size: 50px;
  line-height: 58px;
  margin-bottom: 18px;
  display: inline-block;
}

.aboutMe__status {
  font-size: 18px;
  margin: 0;
  margin-bottom: 26px;
}

.aboutMe__desciption {
  font-size: 14px;
  margin: 0;
  padding-bottom: 40px;
}

.aboutMe__social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  position: absolute;
  bottom: 0px;
}

.aboutMe__social-item {
  margin-right: 20px;
}

.aboutMe__social-item-link {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

.aboutMe__social-item-link:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.aboutMe__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}

@media (max-width: 768px) {
  .aboutMe {
    padding: 66px 50px;
  }

  .aboutMe__title {
    margin-bottom: 16px;
  }

  .aboutMe__status {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .aboutMe__social {
    font-size: 12px;
  }

  .aboutMe__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 600px) {
  .aboutMe__wrap {
    flex-direction: column-reverse;
    margin: 60px 0 70px;
  }

  .aboutMe__info {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .aboutMe {
    padding: 70px 14px;
  }

  .aboutMe__title {
    padding-bottom: 28px;
    font-size: 14px;
  }

  .aboutMe__info {
    margin-top: 40px;
  }

  .aboutMe__name {
    font-size: 30px;
  }

  .aboutMe__photo {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .aboutMe__status {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .aboutMe__desciption {
    font-size: 11px;
  }

  .aboutMe__photo {
    width: 100%;
    height: auto;
  }
}
